:root {
    --blue-900: #06222F;
    --blue-800: #042D41;
    --blue-700: #023D5A;
    --blue-600: #02537A;
    --blue-500: #0673A9;
    --blue-400: #1E99D6;
    --blue-300: #4DB6EA;
    --blue-200: #8CD3F6;
    --blue-100: #B9E6FC;
    --blue-50: #E3F6FF;
    --blue-25: #F1FAFF;
    --white: #FFFFFF;
    --red: #F44336;
    --green: #3EA878;
}
header{
    font-family: Tahoma, sans-serif;
    background-color:var(--blue-400);
    color:var(--blue-800);
    padding: 10px 20px; 
    display: flex;
    text-decoration: none;
}


body {
    background-color: var(--blue-900);
}

.container {
    width: 60vw;
    margin: 0 auto;
}

h1 {
    font-family: Tahoma, sans-serif;
    color: var(--blue-25);
    text-align: left;
}

form {
    font-family: Tahoma, sans-serif;
    text-align: left;
}

.input-label {
    color: var(--blue-25);
    font-size: 1rem;
}

#input {
    width: 100%;
    height: 10vh;
    resize: none;
    border: 1px solid var(--blue-100);
    background-color: var(--blue-900);
    font-size: 1rem;
    color: var(--blue-25)
}

#input:focus {
    border-color: var(--blue-100);
    outline: none;
}

.my-select {
    border: 1px solid var(--blue-100);
    background-color: var(--blue-900);
    padding: 0.5rem;
    color: var(--blue-25);
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;

}

.my-select:hover {
    background-color: var(--blue-25);
    color: var(--blue-900);
}

.my-button {
    border: 1px solid var(--blue-100);
    background-color: var(--blue-900);
    padding: 0.5rem;
    margin-left: 20px;
    color: var(--blue-25);
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;

}

.my-button:hover {
    background-color: var(--blue-25);
    color: var(--blue-900);
}

.result {
    width: 100%;
    min-height: 15vh;
    max-height: 50vh;
    overflow: auto;
    border: 1px solid var(--blue-100);
    margin: 20px auto;
    font-size: 0.5rem;
    font-weight: 900;
    color: var(--blue-25);
    font-family: monospace;
    white-space: pre;
}

.header-link {
    text-decoration: none;
    /* Removes underline from the link */
    color: inherit;
    /* Inherits the text color from the parent element (the h1) */
}

.header-link:hover {
    text-decoration: none;
    border-bottom: 2px solid var(--blue-100);
}
.clear{
    text-decoration: none;
}
.clear:hover{
    text-decoration: none;
}

/* About */

.heading{
    color: var(--blue-25);
    border-bottom: 0.5px solid var(--blue-300);
    font-weight: 500;
    font-size: 1.2rem;
}
.sub-heading{
    font-weight: 500;
    color: var(--blue-50);
    font-size: 1rem;
}

.paragraph{
    color: var(--blue-100);
    font-size: 0.9rem;
}

/* Card */

.card-container {
    display: flex; /* Use flexbox to align items */
    gap: 20px; /* Gap between each card */
    justify-content: space-between;
  }

.card {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    height: auto;
    padding: 0.5rem;
    box-sizing: border-box;
    /* border: 1px solid var(--blue-100); */

  }
  .card__img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover; 
  }
  