<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Asci-Art Web</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styling.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <header>
          <nav>
                  <a href="\" class="link">Home</a>
                  <a href="\about" class="link">About</a>
          </nav>
      </header>
  </div>
    
    <h4 class="heading">Ascii Art Web</h4>
    <p class="paragraph">ASCII Art Web is a web application that allows users to generateASCII art. Users can provide
      input text and select between three banner files, and the application will generate and
      display ASCII art respresentation of the text. It covers printable ascii characters 32-126. If you want to
      lear more about the implementation of the program, you can check the <a href="https://github.com/apondi-art"
        target="_blank" class="link">GitHub repository</a>.</p>

    <h4 class="heading">Contributors</h4>
    <div class="card-container">
      <div class="card">
        <h4 class="sub-heading">Quinter Ochieng</h4>

        <p class="paragraph">Quinter Ochieng is an Aprrentice Developer @ Zone 01 Kisumu. You can connect with her on
          <a href="https://github.com/apondi-art" target="_blank" class="link">GitHub</a> or <a
            href="https://www.linkedin.com/in/quinter-ochieng-5217b6192/" target="_blank" class="link">LinkedIn</a>
        </p>

        <img class="card-img" src="/static/images/IMG_7008.png" alt="">

      </div>
      <div class="card">
        <h4 class="sub-heading">John Opiyo</h4>

        <p class="paragraph">John Opiyo is an Aprrentice Developer @ Zone 01 Kisumu. You can connect with her on
          <a href="https://github.com/SidneyOps75" target="_blank" class="link">GitHub</a> or <a
            href="https://www.linkedin.com/in/john-opiyo-b20056141/" target="_blank" class="link">LinkedIn</a>
        </p>

        <img class="card-img" src="/static/images/IMG_6997.png" alt="">

      </div>
      <div class="card">
        <h4 class="sub-heading">Hilary Okello</h4>

        <p class="paragraph">Hilary Okello is an Aprrentice Developer @ Zone 01 Kisumu. You can connect with her on
          <a href="https://github.com/HilaryOkello" target="_blank" class="link">GitHub</a> or <a
            href="https://www.linkedin.com/in/hilary-okello-a40140172" target="_blank" class="link">LinkedIn</a>
        </p>

        <img class="card-img" src="/static/images/IMG_6999.png" alt="">
      </div>
    </div>
  </div>
</body>

</html>