<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asci-Art Web</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styling.css">
</head>
<body>
    <div class="container">
        <h4 class="heading">Ascii Art Web</h4>
        <p class="paragraph">ASCII Art Web is a web application that allows a user to generate
        ASCII art based on different art styles and input text. Users can select 
        an art style and provide text, and the application will generate and display
         ASCII art corresponding to the chosen style.</p>
         <h4 class="sub-heading">Covered Character</h4>
         <ol class="paragraph">
            <li>ASCII code 32-126</li>
         </ol>
         <h4 class="sub-heading"> Not Covered Character</h4>
         <ol class="paragraph">
            <li>Emojis 😭 😭 😭</li>
            <li>Chinese Characters</li>
         </ol>
         <h4 class="heading">Contributors</h4>
         <div class="card-container">
            <div class="card">
                <h4 class="sub-heading">Quinter Ochieng</h4>
                
                <p class="paragraph">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                
                <img class="card-img" src="/static/images/IMG_7008.png" alt="">
                
                <p class="paragraph">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
              <div class="card">
                <h4 class="sub-heading">John Opiyo</h4>
                
                <p class="paragraph">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                
                <img class="card-img" src="/static/images/IMG_6997.png" alt="">
                
                <p class="paragraph">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
              <div class="card">
                <h4 class="sub-heading">Hilary Okello</h4>
                
                <p class="paragraph">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                
                <img class="card-img" src="/static/images/IMG_6999.png" alt="">
                
                <p class="paragraph">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
         </div>
    </div>
</body>
</html>