<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asci-Art Web</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styling.css">
</head>
<body>
    <div class="header">
        <header>
            <nav>
                    <a href="\">Home</a>
                    <a href="\about">About</a>
            </nav>
        </header>
    </div>
    <div class="container">
        <h1><a href="/" class="header-link">Generate Ascii Art</a></h1>
        <form action="./ascii-art" method="post">
            <label for="input" class="input-label">Enter Text Here:</label><br><br>
            {{if .Input}}
            <textarea name="input" id="input" required>{{.Input}}</textarea><br><br>
            {{else}}
            <textarea name="input" id="input" required></textarea><br><br>
            {{end}}
            <label for="filename" class="input-label">Select Banner File:</label>
            <select name="filename" id="file" class="my-select">
                <option value="standard.txt" {{if eq .Filename "standard.txt" }}selected{{end}}>standard</option>
                <option value="shadow.txt" {{if eq .Filename "shadow.txt" }}selected{{end}}>shadow</option>
                <option value="thinkertoy.txt" {{if eq .Filename "thinkertoy.txt" }}selected{{end}}>thinkertoy</option>
            </select>
            <button type="submit" class="my-button">Generate</button>
            <a href="/" class="my-button clear">Reset</a><br>
        </form>
        {{if .Result}}
        <pre class="result">{{ .Result}}</pre>
        {{else}}
        <pre class="result"></pre>
        {{end}}
    </div>
</body>
</html>